
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home"> 
      <ion-icon   name="homes"></ion-icon>
      <ion-label routerLink="/tabs/login">Accueil</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="people">
      <ion-icon name="people"></ion-icon>
      <ion-label>Employés</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="speakers">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>