ion-content {
    --ion-background-color:#FC7D41;
  
  }
  .background {
    position: absolute;
    top: 10%;
  }
  ion-header{
    --ion-background-color:#FC7D41;
  }
  
  ion-footer{
    --ion-background-color:#FC7D41;
  }
  