<ion-header>
  <ion-navbar class="ion-margin-bottom">
    <ion-item >
      <ion-button color="light" slot="start" fill="clear" ></ion-button>
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="searchbar"><br>
      <ion-item routeLink="/home">
        <ion-searchbar color="danger"></ion-searchbar>
        <ion-button color="white" expand="block" shape="round" fill="outline">Sign out</ion-button>
      </ion-item>
    </div>
    <ion-button color="white" expand="block" shape="round" fill="outline">Sign out</ion-button>
    <ion-button color="white" expand="block" shape="round" fill="outline">Sign out</ion-button>
    <ion-button color="white" expand="block" shape="round" fill="outline">Sign out</ion-button>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home"> 
          <ion-icon name="home"></ion-icon>
          <ion-label>Accueil</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
    <ion-tab-button tab="people">
          <ion-icon name="people"></ion-icon>
          <ion-label>Employés</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="speakers">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Profil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>





